@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.login-container {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

.logo-img {
  height: 50vh;
  width: auto;
  margin-bottom: 1px;
  z-index: 2;
  position: relative;
  top: 0;
}

.login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.login-box {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0;
  min-width: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-title {
  font-size: 1.5rem;
  color: #ffd700;
  margin: 0 0 10px 0;
  font-family: "Press Start 2P", cursive;
}

.login-input {
  font-family: "Press Start 2P", cursive;
  width: 320px;
  padding: 10px;
  border-radius: 12px;
  border: 1px solid #4c4c4c;
  font-size: 1rem;
  margin-bottom: 10px;
}

.play-btn {
  font-family: "Press Start 2P", cursive;
  font-size: 18px;
  letter-spacing: 1px;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.08);
  border: 2px solid #ffffff;
  border-radius: 8px;
  padding: 16px 60px;
  cursor: pointer;
  transition: 0.2s;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #000;
  margin-top: 10px;
}

.play-btn:hover {
  background: #d47929;
  border-color: #ffb45f;
  box-shadow: 0 0 8px #ffb45f, 0 0 16px #d47929;
  transform: scale(1.05);
}

.login-links {
  margin-top: 12px;
}

.login-links a {
  font-size: 18px;
  font-family: "Press Start 2P", cursive;
  color: #ffd700;
}

.login-box-register {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login-input-r {
  font-family: "Press Start 2P", cursive;
  width: 300px;
  padding: 6px;
  border-radius: 12px;
  border: 1px solid #4c4c4c;
  font-size: 0.7rem;
  margin-bottom: 8px;
}

.play-btn-r {
  font-family: "Press Start 2P", cursive;
  font-size: 12px;
  letter-spacing: 1px;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.08);
  border: 2px solid #ffffff;
  border-radius: 8px;
  padding: 16px 60px;
  cursor: pointer;
  transition: 0.2s;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #000;
  margin-top: 10px;
}

.play-btn-r:hover {
  background: #d47929;
  border-color: #ffb45f;
  box-shadow: 0 0 8px #ffb45f, 0 0 16px #d47929;
  transform: scale(1.05);
}

.login-links-r {
  margin-top: 12px;
}

.login-links-r a {
  font-size: 12px;
  font-family: "Press Start 2P", cursive;
  color: #ffd700;
}
.logo-img-r {
  height: 210px;
  width: auto;
  margin-bottom: 1px;
  z-index: 2;
  position: relative;
}