@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.login-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

.logo-img {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  height: 800px;
  width: 800px;
  z-index: 2;
}

.login-content {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 50px;
}

.register-content {
  top: 200px;
}

.login-box {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 12px;
  padding: 60px 80px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  min-width: 600px;
}

.login-title {
  font-size: 3rem;
  color: #000;
  margin-bottom: 20px;
  font-family: "Press Start 2P", cursive;
}

.login-input {
  font-family: "Press Start 2P", cursive;
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 16px;
  border-radius: 12px;
  border: 1px solid #4c4c4cea;
  font-size: 1.2rem;
}

.play-btn {
  font-family: "Press Start 2P", cursive;
  font-size: 28px;
  letter-spacing: 1px;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.08);
  border: 2px solid #ffffff;
  border-radius: 8px;
  padding: 16px 60px;
  margin-top: 14px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #000;
}

.play-btn:hover {
  background: #d47929;
  border-color: #ffb45f;
  box-shadow: 0 0 8px #ffb45f, 0 0 16px #d47929;
  transform: scale(1.05);
}

.login-links {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.login-links a {
  color: #000000;
  text-decoration: none;
  font-family: "Press Start 2P", cursive;
  transition: 0.2s;
  font-size: 18px;
}

.login-links a:hover {
  color: #d47929;
  text-shadow: 0 0 4px #ffb45f;
}

.login-character {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 200px;
  z-index: 1;
}

.login-container::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  z-index: 0;
}