:root {
  --font-main: Helvetica, sans-serif;
  --cor-principal: rgb(184, 150, 81);
  --background-color: rgb(255, 255, 255);
  --cor-texto: rgb(255, 255, 255);
  --cor-secundaria: rgb(255, 255, 255);
}
* {
  font-family: var(--font-main);
}

button {
  margin-top: 3%;
  font-size: 20px;
  padding: 1em 6.9em;
  font-weight: 900;
  background-color: black;
  color: var(--cor-secundaria);
  border: none;
  position: relative;
  overflow: hidden;
  border-radius: 0.8em;
  cursor: pointer;
}

.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 0.8em;
  margin-top: -0.25em;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.3)
  );
}

.label {
  position: relative;
  top: -1px;
}

.transition {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 500ms;
  background-color: var(--cor-principal);
  border-radius: 9999px;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

button:hover .transition {
  width: 28em;
  height: 28em;
}

button:active {
  transform: scale(0.97);
}
